style.
	#stats {
		position: absolute; 
	}
	#pointer {
		position: relative;
		top: 50%;
		left: 50%;
		margin-top: -20px;
		margin-left: -20px;
		width: 40px;
		height: 40px;
		display: none;
		background-image: url("assets/textures/pointer.png");
		background-repeat: no-repeat;
		background-size: contain;
	}