// Three.js libraries
script(src='/assets/js/three.min.js')
script(src='/assets/js/Stats.min.js')
script(src='/assets/js/dat.gui.min.js')
script(src='/assets/js/TrackballControls.js')
script(src='/assets/js/PointerLockControls.js')